{
  "IsEncrypted": false,
  "Values": {
    "FeatureManagement:RunIntegration": true,
    "FeatureManagement:RunUpdateProducers": true,
    "FeatureManagement:RunReconciliation": true,
    "IsRunningLocally": true,
    "DefaultLastRunDate": "2024-01-01",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "HOST": "localhost",
    "Functions:Worker:HostEndpoint": "http://localhost:7071",
    "UpdateProducersTrigger": "1,31 0-7 * * *", 
    "UpdatePrnsTrigger": "0 0 18 * * 1-5",
    "ProducersContext": "https://fat.npwd.org.uk/odata/Producers/$delta",
    "FetchNpwdIssuedPrns:Schedule": "0 0 18 * * 1-5",
    "PrnsContext": "https://fat.npwd.org.uk/odata/PRNs/$delta",
    "Service:AccountBaseUrl": "http://localhost:5666/",
    "Service:AccountClientId": "",
    "Service:AccountEndPointName": "api/organisations",
    "Service:TimeoutSeconds": "100",
    "Service:PrnBaseUrl": "http://localhost:5666/",
    "Service:PrnEndPointName": "api/v1/prn",
    "Service:ClientId": "",
    "Service:CommonDataServiceBaseUrl": "http://localhost:5666",
    "Service:CommonDataServiceEndPointName": "api/producer-details",
    "ServiceBus:FullyQualifiedNamespace": "host.docker.internal:5300",
    "ServiceBus:FetchPrnQueueName": "defra.epr.npwd.integration.fetchprn.local",
    "ServiceBus:ErrorPrnQueue": "defra.epr.npwd.integration.errorqueue.local",
    "ServiceBus:FetchPrnDeltaSyncQueueName": "defra.npwd.integration.lastsuccessfulrun.fetchprn.local",
    "ServiceBus:UpdateProducerDeltaSyncQueueName": "defra.npwd.integration.lastsuccessfulrun.updateproducer.local",
    "ServiceBus:UpdatePrnDeltaSyncQueueName": "defra.npwd.integration.lastsuccessfulrun.updateprn.local",
    "ServiceBus:MaxWaitTimeInSeconds": "1",
    "ServiceBus:ConnectionString": "Endpoint=sb://localhost:5672;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;",
    "MessagingConfig:ApiKey": "<obtain a TEST api key from https://www.notifications.service.gov.uk/services/51ed5f64-dc90-461b-9130-385bc9c3bcc8/api/keys>",
    "MessagingConfig:PrnTemplateId": "a43a573c-3367-4aa2-b9ac-6b347ce8bf32",
    "MessagingConfig:PERNTemplateId": "24925202-125b-4b85-b54a-9f3100301eb4",
    "MessagingConfig:ErrorMessagesTemplateId": "4e67b91b-b010-4d39-a0ea-ecb7e5e77b25",
    "MessagingConfig:NpwdEmailTemplateId": "4e67b91b-b010-4d39-a0ea-ecb7e5e77b25",
    "MessagingConfig:NpwdEmail": "npwd.support@fake.domain.co.uk",
    "MessagingConfig:NpwdValidationErrorsTemplateId": "66bf9f5e-82d3-4f43-8b25-50d6a138a7ef",
    "MessagingConfig:NpwdReconcileIssuedPrnsTemplateId": "3f28cb69-4703-46c6-902f-9350aaeebc87",
    "MessagingConfig:NpwdReconcileUpdatedOrganisationsTemplateId": "07e89bba-7f0e-47f3-a96d-9fbcd923f9ee",
    "MessagingConfig:NpwdCancelledPrnsNotificationTemplateId": "52ec5cdb-ab29-475e-82d5-f5841f016066",
    "ApiCallsRetryConfig:WaitTimeBetweenRetryInSecs": 30,
    "ApiCallsRetryConfig:MaxAttempts": 3,
    "NpwdIntegration:BaseUrl": "http://localhost:5666/",
    "NpwdIntegration:ClientId": "",
    "NpwdIntegration:ClientSecret": "",
    "NpwdIntegration:Scope": "",
    "NpwdIntegration:AccessTokenUrl": "",
    "NpwdIntegration:Authority": "",
    "NpwdIntegration:TimeoutSeconds": "",
    "EmailNpwdReconciliationTrigger": "0 0 18 * * 1-5",
    "AppInsightsConfig:ResourceId": "",
    "MessagingConfig:NpwdReconcileUpdatedPrnsTemplateId": "a1b81df4-560e-4034-a3cc-282d00ee2959",
    "Service__AccountClientId": "",
    "Service__PrnClientId": "",
    "Service__CommonDataClientId": "",
    "FetchNpwdPrnsPollingLagSeconds": "60",
    "UpdatePrnsMaxRows": 100,
    "UpdateProducersBatchSize": 100,
    "AzureWebJobsStorage": "UseDevelopmentStorage=true"
  }
}