{
  "IsEncrypted": false,
  "Values": {
    "FeatureManagement:RunIntegration": true,
    "FeatureManagement:RunUpdateProducers": true,
    "FeatureManagement:RunReconciliation": true,
    "IsRunningLocally": true,
    "DefaultLastRunDate": "2024-01-01",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "HOST": "localhost",
    "Functions:Worker:HostEndpoint": "http://localhost:7071",
    "UpdateProducersTrigger": "1,31 0-7 * * *",
    "UpdatePrnsTrigger": "0 0 18 * * 1-5",
    "ProducersContext": "https://fat.npwd.org.uk/odata/Producers/$delta",
    "FetchNpwdIssuedPrns:Schedule": "0 0 18 * * 1-5",
    "PrnsContext": "https://fat.npwd.org.uk/odata/PRNs/$delta",
    "Service:AccountBaseUrl": "http://localhost:5666/",
    "Service:AccountClientId": "",
    "Service:AccountEndPointName": "api/organisations",
    "Service:TimeoutSeconds": "100",
    "Service:PrnBaseUrl": "http://localhost:5666/",
    "Service:PrnEndPointName": "api/v1/prn",
    "Service:ClientId": "",
    "Service:CommonDataServiceBaseUrl": "http://localhost:5666",
    "Service:CommonDataServiceEndPointName": "api/producer-details",
    "ServiceBus:FullyQualifiedNamespace": "host.docker.internal:5300",
    "ServiceBus:FetchPrnQueueName": "defra.epr.npwd.integration.fetchprn.local",
    "ServiceBus:ErrorPrnQueue": "defra.epr.npwd.integration.errorqueue.local",
    "ServiceBus:FetchPrnDeltaSyncQueueName": "defra.npwd.integration.lastsuccessfulrun.fetchprn.local",
    "ServiceBus:UpdateProducerDeltaSyncQueueName": "defra.npwd.integration.lastsuccessfulrun.updateproducer.local",
    "ServiceBus:UpdatePrnDeltaSyncQueueName": "defra.npwd.integration.lastsuccessfulrun.updateprn.local",
    "ServiceBus:MaxWaitTimeInSeconds": "1",
    "ServiceBus:TransportType": "AmqpTcp",
    "ServiceBus:ConnectionString": "Endpoint=sb://localhost:5672;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;",
    "MessagingConfig:Bypass": true,
    "MessagingConfig:ApiKey": "",
    "MessagingConfig:PrnTemplateId": "47ccc195-7967-4845-928c-5a9bcfe13da8",
    "MessagingConfig:PERNTemplateId": "384cff05-9137-4f39-9794-855b00671f74",
    "MessagingConfig:NpwdEmailTemplateId": "750b5985-0a81-4dd9-8fb6-3b4005f3cff6",
    "MessagingConfig:NpwdEmail": "npwd.support@fake.domain.co.uk",
    "MessagingConfig:NpwdValidationErrorsTemplateId": "00a081ed-9782-4c5d-96f9-102c4e0b77de",
    "MessagingConfig:NpwdReconcileIssuedPrnsTemplateId": "7860cbf7-309e-4fe3-bc63-4d373338e4ae",
    "MessagingConfig:NpwdReconcileUpdatedOrganisationsTemplateId": "0e45022c-5635-4aeb-9afd-b27ba1c19c7b",
    "MessagingConfig:NpwdCancelledPrnsNotificationTemplateId": "e15bae32-e6f5-435e-b342-90cb86d9bcef",
    "ApiCallsRetryConfig:WaitTimeBetweenRetryInSecs": 30,
    "ApiCallsRetryConfig:MaxAttempts": 3,
    "NpwdIntegration:BaseUrl": "http://localhost:5666/",
    "NpwdIntegration:ClientId": "",
    "NpwdIntegration:ClientSecret": "",
    "NpwdIntegration:Scope": "",
    "NpwdIntegration:AccessTokenUrl": "",
    "NpwdIntegration:Authority": "",
    "NpwdIntegration:TimeoutSeconds": "",
    "EmailNpwdReconciliationTrigger": "0 0 18 * * 1-5",
    "AppInsightsConfig:ResourceId": "",
    "MessagingConfig:NpwdReconcileUpdatedPrnsTemplateId": "e67aa3f1-378e-46e7-b9b8-e6a76401ac49",
    "Service__AccountClientId": "",
    "Service__PrnClientId": "",
    "Service__CommonDataClientId": "",
    "FetchNpwdPrnsPollingLagSeconds": "60",
    "UpdatePrnsMaxRows": 100,
    "UpdateProducersBatchSize": 100,
    "WasteOrganisationsApi:BaseUrl": "https://waste-organisations.api.dev.cdp-int.defra.cloud",
    "WasteOrganisationsApi:ClientId": "secm1bm05h7v5vd36tvknl2go",
    "WasteOrganisationsApi:ClientSecret": "",
    "WasteOrganisationsApi:AccessTokenUrl": "https://waste-organisations-c63f2.auth.eu-west-2.amazoncognito.com/oauth2/token",
    "WasteOrganisationsApi:TimeoutSeconds": "30",
    "WasteOrganisationsApi:RetryAttempts": 3,
    "WasteOrganisationsApi:RetryDelaySeconds": 5,
    "UpdateWasteOrganisations:Trigger": "1,31 0-7 * * *",
    "UpdateWasteOrganisations:DefaultStartDate": "2024-01-01",
    "FetchRrepwIssuedPrns:Trigger": "0 0 19 * * 1-5",
    "FetchRrepwIssuedPrns:DefaultStartDate": "2024-01-01",
    "UpdateRrepwPrns:Trigger": "0 0 19 * * 1-5",
    "UpdateRrepwPrns:DefaultStartDate": "2024-01-01",
    "RrepwApi:BaseUrl": "https://TBC.api.dev.cdp-int.defra.cloud",
    "RrepwApi:ClientId": "",
    "RrepwApi:ClientSecret": "",
    "RrepwApi:AccessTokenUrl": "https://TBC.eu-west-2.amazoncognito.com/oauth2/token",
    "RrepwApi:TimeoutSeconds": "30",
    "RrepwApi:RetryAttempts": 3,
    "RrepwApi:RetryDelaySeconds": 5,
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;"
  }
}